<div class="container">
  <div class="social-links fade-in" [ngClass]="{ show: contentVisible }">
    <a
      href="https://api.whatsapp.com/send/?phone=11994914822&text&type=phone_number&app_absent=0"
      target="_blank"
      class="social-link"
    >
      <img class="social-img" src="assets/whatsapp.png" alt="" />
    </a>
    <a
      href="https://github.com/LuisJuniorPSJ"
      target="_blank"
      class="social-link"
    >
      <img class="social-img" src="assets/github.png" alt="" />
    </a>
    <a
      href="https://www.linkedin.com/in/luis-junior-927610251/"
      target="_blank"
      class="social-link"
    >
      <img class="social-img" src="assets/linkedin.png" alt="" />
    </a>
  </div>
  <div class="form-port fade-out" [ngClass]="{ show: contentVisible }">
    <form class="form-size">
      <label for="empresa">Empresa :</label>
      <input
        type="text"
        name="empresa"
        id="empresa"
        placeholder="Digite o nome da empresa"
      />

      <label for="nome">Nome do Recrutador :</label>
      <input
        type="text"
        name="nome"
        id="nome"
        placeholder="Digite seu nome aqui"
        required
      />

      <label for="telefone">Telefone :</label>
      <input
        type="tel"
        name="telefone"
        id="telefone"
        placeholder="xx-xxxxx-xxxx"
        required
      />

      <label for="mensagem">Mensagem:</label>
      <textarea
        cols="30"
        rows="5"
        name="mensagem"
        id="mensagem"
        placeholder="Digite sua mensagem aqui"
        required
      ></textarea>

      <button type="submit" class="btn-form">Enviar</button>
    </form>
  </div>
</div>
