.fade-in {
  transform: translateX(-100%);
  transition: opacity 0.1s ease-in-out, transform 0.5s ease-in-out;
}

.fade-in.show {
  opacity: 1;
  transform: translateX(0);
}

.container {
  width: 100%;
}
.social-links {
  display: flex;
  height: 95vh;
  gap: 3rem;
  align-items: center;
  justify-content: center;
}

.social-link {
  background-color: #0e387a;
  padding: 15px;
  border-radius: 12px;
}
.social-link:hover {
  background-color: #558ce4;
  transition: 0.5s;
}

.text-ajeite {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 765px) {
  .social-links {
    flex-direction: column;
    gap: 25px;
  }
  .social-link {
    width: 100px;
  }
}
