.fade-in {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.fade-in.show {
  opacity: 1;
}

.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  width: 100%;
  min-height: 100vh;
  background-color: rgb(220, 220, 252);
}

.social-links {
  text-align: center;
}

input,
textarea {
  outline: none;
}

.social-link {
  display: flex;
  padding: 0.5rem 1.5rem;
  justify-content: center;
  font-size: 1rem;
  align-items: center;
  margin-bottom: 1rem;
  text-decoration: none;
  border-radius: 1rem;
  color: white;
  font-weight: normal;
  background-color: blueviolet;
  transition: background-color 0.3s, box-shadow 0.3s;
  animation: pulse 1.5s infinite;
}

.social-link:hover {
  background-color: rgba(137, 43, 226, 0.712);
  animation: none;
}

.contact-form {
  width: 40%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 1rem;
  background-color: white;
}

h2 {
  font-size: 24px;
  color: rgb(59, 59, 59);
}

label {
  color: rgb(59, 59, 59);
}

.form-group {
  margin: 10px 0;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn {
  background-color: blueviolet;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  animation: pulse 1.5s infinite;
}

.btn:hover {
  animation: none;
  background-color: rgba(137, 43, 226, 0.705);
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 5px rgba(124, 104, 238, 0.856);
  }
  50% {
    box-shadow: 0 0 20px rgba(124, 104, 238, 0.822);
  }
  100% {
    box-shadow: 0 0 5px rgba(124, 104, 238, 0.815);
  }
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    gap: 2rem;
  }
  .contact-form {
    width: 100%;
  }
}
