.fade-in {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.fade-in.show {
  opacity: 1;
}

.dark-theme {
  background-color: black !important;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  min-height: 100vh;
  flex-direction: column;
  background-color: black;
}

.about-content {
  display: flex;
  align-items: center;
  width: 70%;
}

.about-text {
  font-size: 1.5rem;
  color: white;
  font-weight: 200;
}

.tecs-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  list-style: none;
  flex-wrap: wrap;
}

li {
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
}

.rotate {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 662px) {
  img {
    width: 32px;
    max-height: 100%;
  }

  .tecs-content {
    gap: 1.2rem;
  }

  .about-text {
    font-size: 1rem;
  }

  .about-content {
    width: 80%;
  }
}
