.fade-in {
  transform: translateX(-100%);
  transition: opacity 0.1s ease-in-out, transform 0.5s ease-in-out;
}

.fade-in.show {
  opacity: 1;
  transform: translateX(0);
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  min-height: 91vh;
  background-color: #a9dce3;
}

.about-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4rem;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}
.info-text-about {
  font-size: 18px;
  font-weight: normal;
  width: 65%;
  color: #0e387a;
}

.tecs-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  list-style: none;
  flex-wrap: wrap;
}

li {
  background-color: #0e387a;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
  transition: background-color 0.3s, box-shadow 0.3s;
  animation: pulse 1.5s infinite;
  display: flex;
  align-items: center;
}

li:hover {
  background-color: #fff;
  animation: none;
}

.rotate {
  animation: spin 2s linear infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 5px rgba(124, 104, 238, 0.856);
  }
  50% {
    box-shadow: 0 0 20px rgba(124, 104, 238, 0.822);
  }
  100% {
    box-shadow: 0 0 5px rgba(124, 104, 238, 0.815);
  }
}

@media (max-width: 770px) {
  .info-text-about {
    width: 90%;
    font-size: 13px;
    margin-top: 20px;
  }
  .size-mobile {
    width: 40px;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
