.fade-in {
  transform: translateX(-100%);
  transition: opacity 0.1s ease-in-out, transform 0.5s ease-in-out;
}

.fade-in.show {
  opacity: 1;
  transform: translateX(0);
}

.container-about {
  width: 100%;
  background-color: #000;
}

.about-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  min-height: 105vh;
  margin: 0 auto;
  background-color: #000;
}
.info-text-about {
  font-size: 16px;
  display: flex;
  justify-content: left;
  align-items: center;
  font-weight: normal;
  width: 100%;
  color: #fff;
  margin: 15px auto;
}

.conteiner-conhe {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
.info-text {
  width: 50%;
}
.content-tecs {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

.tecs {
  background-color: #fff;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 0px 0px 3px 0px rgba(255, 255, 255, 1);
}
.tecs:hover {
  transition: 0.3s;
  transform: scale(1.2);
}

@media (max-width: 768px) {
  .info-text-about {
    width: 90%;
    font-size: 16px;
    margin-top: 20px;
  }
  .size-mobile {
    width: 55px;
  }
}
@media (max-width: 426px) {
  .info-text-about {
    width: 95%;
    font-size: 14px;
    margin-top: 20px;
  }
  .size-mobile {
    width: 45px;
  }
}
@media (max-width: 376px) {
  .info-text-about {
    width: 95%;
    font-size: 13px;
    margin-top: 10px;
  }
  .size-mobile {
    width: 40px;
  }
}
