<div class="container">
  <div
    class="about-content fade-in"
    [ngClass]="{
    show: contentVisible,
  }"
  >
    <p class="info-text-about">
      Sou um desenvolvedor Front-End, especializado em React, HTML, CSS,
      TypeScript, Jest, Redux e integração de APIs. Com essas habilidades, posso
      criar interfaces de usuário dinâmicas, gerenciar o estado da aplicação de
      forma eficiente, escrever testes automatizados para garantir a qualidade
      do código e integrar aplicativos com APIs externas. Estou pronto para
      enfrentar qualquer desafio de desenvolvimento e transformar suas ideias em
      realidade. Vamos trabalhar juntos para criar algo incrível!
    </p>
    <div>
      <ul class="tecs-content">
        <li><img class="size-mobile" src="assets/js.png" alt="" /></li>
        <li><img class="size-mobile" src="assets/ts.png" alt="" /></li>
        <li>
          <img class="rotate size-mobile" src="assets/react.png" alt="" />
        </li>
      </ul>
    </div>
  </div>
</div>
