<div
  class="container fade-in"
  [ngClass]="{
  show: contentVisible,

}"
>
  <div class="about-content">
    <div class="about-text">
      <p>
        Olá! Sou um Desenvolvedor Front-End apaixonado com 3.5 anos de
        experiência, especializado em transformar designs em código funcional.
        Minha missão é criar interfaces envolventes e experiências excepcionais.
        Sou dedicado, inovador e focado na qualidade, colaborando estreitamente
        com designers para garantir implementações perfeitas. Com um histórico
        sólido, estou pronto para enfrentar novos desafios e construir algo
        incrível juntos! 🚀✨
      </p>
    </div>
  </div>

  <div>
    <ul class="tecs-content">
      <li><img src="assets/js.png" alt="" /></li>
      <li><img src="assets/ts.png" alt="" /></li>
      <li><img class="rotate" src="assets/react.png" alt="" /></li>
      <li><img style="width: 64px" src="assets/next-js.png" alt="" /></li>
    </ul>
  </div>
</div>
