<main class="container">
  <div class="content-infos fade-in" [ngClass]="{ show: contentVisible }">
    <h1>Em manutenção !!</h1>
  </div>
</main>

<div
  class="modal-backdrop"
  [ngClass]="{ show: isModalOpen }"
  (click)="closeModal()"
>
  <div class="modal-content" (click)="$event.stopPropagation()">
    <span class="close" (click)="closeModal()">&times;</span>
    <h2 class="text-modal-one">Ebaaaaaaaaaaa !</h2>
    <img style="width: 32px" src="assets/firework.png" alt="" />
    <p class="modal-text">
      Muito obrigado pela escolha, espero que avalie com carinho e aguardo o
      contato !
    </p>
  </div>
</div>
