<div
  class="container fade-in"
  [ngClass]="{
    show: contentVisible,
  }"
>
  <div class="my-apre">
    <h1>Bem-Vindo ao Meu Portfólio!</h1>
    <h2>
      Olá, eu me chamo {{ name }}, sou Desenvolvedor Front-End com +3 anos de
      experiência.
    </h2>
    <a
      href="https://drive.google.com/file/d/1NJihCqcn10nLgBmZL_bRMjcBcNJY-NI1/view?usp=sharing"
      target="_blank"
      >Download Currículo</a
    >
  </div>
  <div class="home-image">
    <img class="img-edit" src="assets/eu-eu.jpeg" alt="foto-de-luis-junior" />
  </div>
</div>
