.container {
  width: 100%;
  background-color: #000;
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fade-in {
  transform: translateX(-100%);
  transition: opacity 0.1s ease-in-out, transform 0.5s ease-in-out;
}

.fade-in.show {
  opacity: 1;
  transform: translateX(0);
}

.content-infos {
  display: flex;
  width: 90%;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

h1 {
  color: #fff;
}

.img-minha {
  width: 200px;
  height: auto;
  display: block;
  border-radius: 12px;
}

.font-class {
  font-size: 20px;
  color: #fff;
  font-weight: normal;
}

.text-edit {
  font-size: 14px;
  width: 45%;
  color: #fff;
  text-align: center;
  font-weight: normal;
}

.btn-edit {
  display: block;
  border: solid 1.5px #0e387a;
  text-decoration: none;
  padding: 15px;
  color: #000;
  border-radius: 12px;
}

.shine-btn {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background-color: #0099ff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: background-color 0.3s;
}

.shine-btn:before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.shine-btn:hover:before {
  transform: translate(-30%, -30%);
  opacity: 0;
}

.shine-btn:hover {
  background-color: #084a79;
}

.modal-backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  justify-content: center;
  align-items: center;
}

.modal-text {
  font-size: 14px;
}

.modal-backdrop.show {
  display: flex;
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  text-align: center;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  border-radius: 5px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.text-modal-one {
  font-size: 24px;
}

.close:hover,
.close:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .img-minha {
    max-width: 150px;
  }
  .font-class {
    font-size: 18px;
  }
  .text-edit {
    width: 90%;
    font-size: 14px;
  }
}
@media (max-width: 375px) {
  .img-minha {
    max-width: 110px;
  }
  .font-class {
    font-size: 16px;
  }
  .text-edit {
    width: 90%;
    font-size: 12px;
  }
  .text-modal-one {
    font-size: 18px;
  }
  .modal-text {
    font-size: 12px;
  }
}
