.fade-in {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.fade-in.show {
  opacity: 1;
}

.home-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(220, 220, 252);
}

.my-apre {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 48%;
}

h1 {
  font-size: 2.5rem;
  color: rgb(59, 59, 59);
}

h2 {
  font-size: 1.5rem;
  color: rgb(87, 87, 87);
  font-weight: normal;
}

img {
  width: 300px;
  height: auto;
  border-radius: 20%;
}

a {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: blueviolet;
  padding: 1rem;
  width: 30%;
  border-radius: 0.2rem;
  text-decoration: none;
  color: white;
  transition: background-color 0.3s, box-shadow 0.3s;
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 5px rgba(124, 104, 238, 0.856);
  }
  50% {
    box-shadow: 0 0 20px rgba(124, 104, 238, 0.822);
  }
  100% {
    box-shadow: 0 0 5px rgba(124, 104, 238, 0.815);
  }
}

a:hover {
  background-color: rgba(137, 43, 226, 0.733);
  animation: none;
}

@media (max-width: 900px) {
  .home-container {
    flex-direction: column-reverse;
    justify-content: center;
    gap: 1rem;
  }

  a {
    width: 100%;
  }

  h1 {
    display: none;
  }

  .my-apre {
    width: 80%;
  }
}

@media (max-width: 640px) {
  .img-edit {
    width: 200px;
  }
  h2 {
    font-size: 1.2rem;
    text-align: center;
  }
}
