<main class="container">
  <div class="content-infos fade-in" [ngClass]="{ show: contentVisible }">
    <img class="img-minha" src="assets/perfil-img.png" alt="foto-de-homem" />
    <h1 class="font-class">Olá me chamo Luis Fabiano !!</h1>
    <h2 class="text-edit">
      Neste portfólio, você encontrará alguns dos meus trabalhos mais recentes e
      projetos de destaque. Cada projeto representa uma jornada única de
      aprendizado e inovação, e estou empolgado para compartilhar essas
      histórias com você.
    </h2>
    <a class="btn-edit shine-btn" href="#">Download Curriculo !</a>
  </div>
</main>
