<div class="navbar">
  <div class="menu">
    <ul>
      <li>
        <a class="link-hover" routerLink="/home" routerLinkActive="active-link"
          >Página Inicial</a
        >
      </li>
      <li>
        <a class="link-hover" routerLink="/about" routerLinkActive="active-link"
          >Sobre</a
        >
      </li>
      <li>
        <a
          class="link-hover"
          routerLink="/projects"
          routerLinkActive="active-link"
          >Projetos</a
        >
      </li>
      <li>
        <a href="">
          <img class="link-hover-two" src="assets/git-menu.png" alt=""
        /></a>
      </li>
      <li>
        <a href="">
          <img class="link-hover-two" src="assets/whatsapp.png" alt=""
        /></a>
      </li>
      <li>
        <a href="">
          <img class="link-hover-two" src="assets/linkedin.png" alt=""
        /></a>
      </li>
    </ul>
  </div>
  <!-- Botão de alternância de tema -->
  <div class="mobile-menu-icon" (click)="toggleMobileMenu()">
    <i class="fa fa-bars"></i>
  </div>
</div>

<div class="mobile-menu" [ngClass]="{ active: mobileMenuActive }">
  <ul>
    <li (click)="closeMobileMenu()">
      <a routerLink="/home">Página Inicial</a>
    </li>
    <li (click)="closeMobileMenu()"><a routerLink="/about">Sobre</a></li>
    <li (click)="closeMobileMenu()"><a routerLink="/projects">Projetos</a></li>
  </ul>
</div>
