.fade-in {
  transform: translateX(-100%);
  transition: opacity 0.1s ease-in-out, transform 0.5s ease-in-out;
}

.fade-in.show {
  opacity: 1;
  transform: translateX(0);
}

.container {
  padding: 40px;
  min-height: 92.8vh;
  width: 100%;
  background-color: #a9dce3;
}

.conteiner-projects {
  display: flex;
  width: 95%;
  margin: 40px auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

video {
  width: 75%;
  height: auto;
  display: block;
}

.btn-projects-one {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 10px 0;
  padding-top: 20px;
}
.text-p {
  font-size: 15px;
  color: #0e387a;
  width: 75%;
  margin: 0 auto;
  text-align: center;
}

.btn-edit {
  display: block;
  background-color: #0e387a;
  text-decoration: none;
  padding: 8px 15px;
  border-radius: 12px;
  color: #fff;
}

.btn-edit:hover {
  background-color: #1a6aeca4;
  transition: 0.3s;
  color: #000;
}

@media (max-width: 768px) {
  .text-p {
    width: 70%;
    font-size: 14px;
  }
}
@media (max-width: 425px) {
  .text-p {
    width: 100%;
    font-size: 12px;
    text-align: center;
  }
  .btn-edit {
    padding: 5px;
    font-size: 12px;
  }
}
