<div class="container">
  <div
    class="conteiner-projects fade-in"
    [ngClass]="{
    show: contentVisible,
  }"
  >
    <video autoplay loop muted>
      <source src="assets/esse-video.mp4" type="video/mp4" />
    </video>
    <div>
      <p class="text-p">
        Apresento meu projeto desenvolvido em React, com o refinamento
        estilístico do Tailwind CSS. Este projeto não apenas demonstra minha
        habilidade técnica, mas também a dedicação em criar experiências visuais
        excepcionais. Utilizando hooks, useEffect e a versatilidade do map,
        criei uma aplicação robusta e eficiente. Ao explorar meu projeto, você
        descobrirá como essas tecnologias se combinam para oferecer uma
        experiência de usuário fluida e envolvente.
      </p>
      <div class="btn-projects-one">
        <a
          class="btn-edit"
          href="https://luisjuniorpsj.github.io/memory-game/"
          target="_blank"
          >Online</a
        >
        <a
          class="btn-edit"
          href="https://github.com/LuisJuniorPSJ/memory-game"
          target="_blank"
          >Git Hub</a
        >
      </div>
    </div>
  </div>
  <div
    class="conteiner-projects fade-in flex-reverse"
    [ngClass]="{
    show: contentVisible,
  }"
  >
    <video autoplay loop muted>
      <source src="assets/video-tarefa.mp4" type="video/mp4" />
    </video>
    <div>
      <p class="text-p">
        Apresento meu aplicativo de "To-Do List" em React e TypeScript. Com
        interface intuitiva, gestão dinâmica de tarefas e segurança do
        TypeScript, simplificamos sua organização diária. Aumente sua
        produtividade com eficiência e personalização. Experimente agora e
        simplifique sua vida!
      </p>
      <div class="btn-projects-one">
        <a
          class="btn-edit"
          href="https://luisjuniorpsj.github.io/test-front-end/"
          target="_blank"
          >Online</a
        >
        <a
          class="btn-edit"
          href="https://github.com/LuisJuniorPSJ/test-front-end"
          target="_blank"
          >Git Hub</a
        >
      </div>
    </div>
  </div>
  <div
    class="conteiner-projects fade-in"
    [ngClass]="{
    show: contentVisible,
  }"
  >
    <video autoplay loop muted>
      <source src="assets/constru.mp4" type="video/mp4" />
    </video>
    <div>
      <p class="text-p color-edit">
        Estou trabalhando no meu site de casamento, uma jornada emocionante que
        utiliza React, TypeScript e Node.js. Além da lista de confirmação de
        convidados e integração com API de produtos, estou implementando um
        sistema de pagamento seguro, aceitando cartão de crédito e PIX. Para
        garantir uma presença online forte, estou otimizando o SEO com metatags
        e estrutura HTML adequada. Com Redux para gerenciamento de estado e
        testes Jest para garantir a robustez, prometo uma experiência única e
        personalizada para nossos convidados!
      </p>
      <div class="btn-projects-one">
        <a onclick="event.preventDefault()" class="btn-edit" href="#"
          >Aguarde</a
        >
        <a onclick="event.preventDefault()" class="btn-edit" href="#"
          >Aguarde</a
        >
      </div>
    </div>
  </div>
</div>
