.fade-in {
  transform: translateX(-100%);
  transition: opacity 0.1s ease-in-out, transform 0.5s ease-in-out;
}

.fade-in.show {
  opacity: 1;
  transform: translateX(0);
}

.container {
  padding: 40px;
  min-height: 92.8vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #a9dce3;
}

.conteiner-projects {
  display: flex;
  width: 80%;
  margin: 40px auto;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.img-project-size {
  width: 500px;
}

.btn-projects-one {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 12px 0;
}
.text-p {
  font-size: 14px;
  color: #0e387a;
}

.btn-edit {
  display: block;
  background-color: #0e387a;
  text-decoration: none;
  padding: 8px 15px;
  border-radius: 12px;
  color: #fff;
}

.btn-edit:hover {
  background-color: #1a6aeca4;
  transition: 0.3s;
  color: #000;
}

@media (max-width: 1250px) {
  .conteiner-projects {
    flex-direction: column;
  }
  .img-project-size {
    width: 350px;
  }
  .conteiner-projects {
    width: 100%;
  }
  .text-p {
    font-size: 14px;
  }
  .flex-reverse {
    flex-direction: column-reverse;
  }
}
@media (max-width: 425px) {
  .btn-edit {
    padding: 10px;
    font-size: 14px;
  }
}
