<div class="container">
  <div
    class="conteiner-projects fade-in"
    [ngClass]="{
    show: contentVisible,
  }"
  >
    <video autoplay loop muted>
      <source src="assets/esse-video.mp4" type="video/mp4" />
    </video>
    <div>
      <p class="text-p">
        Apresento meu projeto desenvolvido em React, com o refinamento
        estilístico do Tailwind CSS. Este projeto não apenas demonstra minha
        habilidade técnica, mas também a dedicação em criar experiências visuais
        excepcionais. Utilizando hooks, useEffect e a versatilidade do map,
        criei uma aplicação robusta e eficiente.
      </p>
      <div class="btn-projects-one">
        <a
          class="btn-edit"
          href="https://luisjuniorpsj.github.io/memory-game/"
          target="_blank"
          >Online</a
        >
        <a
          class="btn-edit"
          href="https://github.com/LuisJuniorPSJ/memory-game"
          target="_blank"
          >Git Hub</a
        >
      </div>
    </div>
  </div>
  <div
    class="conteiner-projects fade-in flex-reverse"
    [ngClass]="{
    show: contentVisible,
  }"
  >
    <video autoplay loop muted>
      <source src="assets/video-tarefa.mp4" type="video/mp4" />
    </video>
    <div>
      <p class="text-p">
        Apresento meu aplicativo de "To-Do List" em React e TypeScript. Com
        interface intuitiva, gestão dinâmica de tarefas e segurança do
        TypeScript, simplificamos sua organização diária. Aumente sua
        produtividade com eficiência e personalização. Experimente agora e
        simplifique sua vida!
      </p>
      <div class="btn-projects-one">
        <a
          class="btn-edit"
          href="https://luisjuniorpsj.github.io/test-front-end/"
          target="_blank"
          >Online</a
        >
        <a
          class="btn-edit"
          href="https://github.com/LuisJuniorPSJ/test-front-end"
          target="_blank"
          >Git Hub</a
        >
      </div>
    </div>
  </div>
</div>
