<div
  class="projects-container theme-light fade-in"
  [ngClass]="{
    show: contentVisible,
  }"
>
  <div class="project-cards">
    <div class="project-card">
      <img
        src="../../../assets/Projeto-calculadora-de-vida.png"
        alt="Projeto 1"
      />
      <h3>Calculadora Tempo de Vida</h3>
      <div class="links">
        <a href="#">Online</a>
        <a href="#">GitHub</a>
      </div>
    </div>
    <div class="project-card">
      <img src="../../../assets/projeto-name.png" alt="Projeto 2" />
      <h3>Generator Names</h3>
      <div class="links">
        <a href="#">Online</a>
        <a href="#">GitHub</a>
      </div>
    </div>
    <div class="project-card">
      <img src="../../../assets/construction.png" alt="Projeto 3" />
      <!-- <h3></h3>
      <p>Descrição do projeto 3.</p> -->
    </div>
    <div class="project-card">
      <img src="../../../assets/construction.png" alt="Projeto 3" />
      <!-- <h3>Projeto 4</h3>
      <p>Descrição do projeto 4.</p> -->
    </div>
    <div class="project-card">
      <img src="../../../assets/construction.png" alt="Projeto 3" />
      <!-- <h3>Projeto 5</h3>
      <p>Descrição do projeto 5.</p> -->
    </div>
    <div class="project-card">
      <img src="../../../assets/construction.png" alt="Projeto 3" />
      <!-- <h3>Projeto 6</h3>
      <p>Descrição do projeto 6.</p> -->
    </div>
  </div>
</div>
